body {
    text-align: center;
    font-family: sans-serif;
}

h1 {
    text-decoration: underline;
    font-size: 50px;
}

p {
    margin: 0 auto;
    width: 40%;
    margin-bottom: 20px;
}

#moreQuestArea {
    margin-top: 20px;
}